[Desktop Entry]
Encoding=UTF-8
Name=Link to IMG_20210201_211712.jpg (5,143K)
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=62965dcc9a&attid=0.1&permmsgid=msg-a:r4785707233133337986&view=att&disp=safe&realattid=17760886b471cee887c1
Icon=text-html
